body {
    background-color: #000000;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}
#foto1{
    width: 600px;
    height: 350px;


}
button {
    background-color: #787878;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}


.passo {
    display: none;
}


.passo.ativo {
    display:block;
}


main {
    text-align: center;
    max-width: 90%;
}


img {
    max-width: 90%;
}
